<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Clase 6 | Contacto</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<div class="contenederPadrecontacto">
		<div class="navIzq">
			<nav>
				<ul>
					<li><a href="#">INICIO</a></li>
					<li><a href="#">SERVICIOS</a></li>
				</ul>
			</nav>
		</div>
		<div class="logo">
			<img src="../assets/img/logo_nav.PNG" alt="logo" class="logoBear">
		</div>
		<div class="navDer">
			<ul>
				<li><a href="#">PRODUCTOS</a></li>
				<li><a href="#">CONTACTO</a></li>
			</ul>
	    </div>
		<div class="encabezadoPrincipal">
			<h1>CONTACTO</h1>
		</div>
		<div class="form">
		   <form action="">
			 <input type="text" placeholder="NOMBRE" name="nombre">
			 <input type="text" placeholder="APELLIDO" name="apellido">
			 <textarea name="comentario" id="comentario" cols="30" rows="10"></textarea>
			<div>
			    <input type="submit" value="ENVIAR">
			    <input type="reset" value="ELIMINAR">
            </div>
           </form>	
		</div>
		<div class="imgDer">
			<img src="../assets/img/bg-4.JPEG" alt="textoImgder" class="imgTextoder">
		</div>
	<footer class="footerServicios">
		<img src="../assets/img/logo_nav.PNG" alt="logo" class="logoBear">
		<h3>REDES SOCIALES</h3>
		<h3>CONTACTO</h3>
	</footer>
	</div>
	</div>
	
</body>
</html>